extends layout

block content

  h1 Welcome, #{user.displayName}

  p This is some top secret information! 
  p #{user.email}

  form(action="/logout" method="post")
    button.btn.btn-primary(type="submit") Logout
